@{
    ViewBag.Title = "Home Page";
}

<div id="spreadsheet" class="bspread" style="margin-top: 20px;"></div>

<script>
    var spread = new BsSpread.Workbook( '#spreadsheet', { goodbye: "world" } );
</script>